DATABASE_URL=

# Environment Configuration
NODE_ENV= # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:8080" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Discord Credentials
DISCORD_BOT_TOKEN="your_discord_bot_token"
DISCORD_APPLICATION_ID="your_discord_application_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"
DICCORD_PUBLIC_KEY="your_discord_public_key"

# Spotify Credentials
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"

# Ollama API Configuration
OLLAMA_API_KEY_1="your_ollama_api_key_1"
OLLAMA_BASE_URL="https://ollama.com"
